-// Metadata for SEO and analytics
section.Meta
    prop.title How the population has changed in your area - ONS
    prop.description Demographic trends in local authorities within the UK
    prop.contentTitle Title for google analytics
    prop.releaseDate 2023-01-01
    prop.lastUpdated 2023-01-01
    prop.outputSeries slugforoutputseries
    prop.contentType robo-journalism

if !place
    section.Header
        prop.title How the population has changed in your area
        prop.label Select a local authority

else
    section.Header
        prop.title How the population has changed #{place.getName("in")}
        prop.label Select another local authority

    section.Highlight
        p In 2020, #{place.getName("the")} was the #{places.filterBy("parentcd", place.parentcd).getRank(place, "p2020").toWords("ordinal", {keepFirst: false})} largest local authority in #{lookup[place.parentcd].getName("the")}, with a total population of #{place.p2020.format()}. #{moreLess(place.p2020 - place.p2019, ["An increase", "A decrease", "No change"])} compared with 2019.
    
    section#chart-bar.Chart
        prop.chartType bar
        prop.variant clustered
        prop.data= places.filterBy("parentcd", place.parentcd).toData({y: "areanm", x: ["p2018", "p2019", "p2020"], z: ["2018", "2019", "2020"]})
        prop.ySort ascending
        prop.zKey z
        prop.xFormat ,.0f
        prop.dataLabels true
